#casualtheorics.argdown2/document
{:id :large-stress
 :root
 #casualtheorics.argdown2.solver/grounded
 {:id :root
  :interface
  {:aggregate
   #casualtheorics.argdown2.aggregate/identity
   {:inputs [{:ref :s0}]}}
  :elements
  [
#casualtheorics.argdown2.argdown/statement {:id :s0 :text "Statement 0 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s1 :text "Statement 1 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s2 :text "Statement 2 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s3 :text "Statement 3 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s4 :text "Statement 4 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s5 :text "Statement 5 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s6 :text "Statement 6 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s7 :text "Statement 7 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s8 :text "Statement 8 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s9 :text "Statement 9 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s10 :text "Statement 10 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s11 :text "Statement 11 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s12 :text "Statement 12 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s13 :text "Statement 13 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s14 :text "Statement 14 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s15 :text "Statement 15 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s16 :text "Statement 16 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s17 :text "Statement 17 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s18 :text "Statement 18 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s19 :text "Statement 19 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s20 :text "Statement 20 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s21 :text "Statement 21 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s22 :text "Statement 22 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s23 :text "Statement 23 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s24 :text "Statement 24 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s25 :text "Statement 25 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s26 :text "Statement 26 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s27 :text "Statement 27 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s28 :text "Statement 28 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s29 :text "Statement 29 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s30 :text "Statement 30 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s31 :text "Statement 31 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s32 :text "Statement 32 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s33 :text "Statement 33 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s34 :text "Statement 34 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s35 :text "Statement 35 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s36 :text "Statement 36 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s37 :text "Statement 37 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s38 :text "Statement 38 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s39 :text "Statement 39 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s40 :text "Statement 40 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s41 :text "Statement 41 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s42 :text "Statement 42 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s43 :text "Statement 43 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s44 :text "Statement 44 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s45 :text "Statement 45 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s46 :text "Statement 46 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s47 :text "Statement 47 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s48 :text "Statement 48 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/statement {:id :s49 :text "Statement 49 with some padding text to increase size."}
  #casualtheorics.argdown2.argdown/argument
  {:id :a0
   :description "Argument description 0 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai0
     :premises [:s0 :s1]
     :conclusion :s2
     :rules [:r0]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a1
   :description "Argument description 1 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai1
     :premises [:s1 :s2]
     :conclusion :s3
     :rules [:r1]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a2
   :description "Argument description 2 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai2
     :premises [:s2 :s3]
     :conclusion :s4
     :rules [:r2]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a3
   :description "Argument description 3 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai3
     :premises [:s3 :s4]
     :conclusion :s5
     :rules [:r3]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a4
   :description "Argument description 4 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai4
     :premises [:s4 :s5]
     :conclusion :s6
     :rules [:r4]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a5
   :description "Argument description 5 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai5
     :premises [:s5 :s6]
     :conclusion :s7
     :rules [:r5]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a6
   :description "Argument description 6 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai6
     :premises [:s6 :s7]
     :conclusion :s8
     :rules [:r6]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a7
   :description "Argument description 7 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai7
     :premises [:s7 :s8]
     :conclusion :s9
     :rules [:r7]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a8
   :description "Argument description 8 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai8
     :premises [:s8 :s9]
     :conclusion :s10
     :rules [:r8]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a9
   :description "Argument description 9 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai9
     :premises [:s9 :s10]
     :conclusion :s11
     :rules [:r9]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a10
   :description "Argument description 10 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai10
     :premises [:s10 :s11]
     :conclusion :s12
     :rules [:r10]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a11
   :description "Argument description 11 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai11
     :premises [:s11 :s12]
     :conclusion :s13
     :rules [:r11]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a12
   :description "Argument description 12 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai12
     :premises [:s12 :s13]
     :conclusion :s14
     :rules [:r12]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a13
   :description "Argument description 13 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai13
     :premises [:s13 :s14]
     :conclusion :s15
     :rules [:r13]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a14
   :description "Argument description 14 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai14
     :premises [:s14 :s15]
     :conclusion :s16
     :rules [:r14]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a15
   :description "Argument description 15 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai15
     :premises [:s15 :s16]
     :conclusion :s17
     :rules [:r15]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a16
   :description "Argument description 16 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai16
     :premises [:s16 :s17]
     :conclusion :s18
     :rules [:r16]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a17
   :description "Argument description 17 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai17
     :premises [:s17 :s18]
     :conclusion :s19
     :rules [:r17]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a18
   :description "Argument description 18 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai18
     :premises [:s18 :s19]
     :conclusion :s20
     :rules [:r18]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a19
   :description "Argument description 19 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai19
     :premises [:s19 :s20]
     :conclusion :s21
     :rules [:r19]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a20
   :description "Argument description 20 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai20
     :premises [:s20 :s21]
     :conclusion :s22
     :rules [:r20]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a21
   :description "Argument description 21 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai21
     :premises [:s21 :s22]
     :conclusion :s23
     :rules [:r21]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a22
   :description "Argument description 22 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai22
     :premises [:s22 :s23]
     :conclusion :s24
     :rules [:r22]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a23
   :description "Argument description 23 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai23
     :premises [:s23 :s24]
     :conclusion :s25
     :rules [:r23]}]}
  #casualtheorics.argdown2.argdown/argument
  {:id :a24
   :description "Argument description 24 with extra text for size."
   :tags #{:pro}
   :inferences
   [#casualtheorics.argdown2.argdown/inference
    {:id :ai24
     :premises [:s24 :s25]
     :conclusion :s26
     :rules [:r24]}]}
  #casualtheorics.argdown2.argdown/attack {:id :attack-1 :from :s0 :to :s13}
  #casualtheorics.argdown2.argdown/attack {:id :attack-2 :from :s1 :to :s14}
  #casualtheorics.argdown2.argdown/attack {:id :attack-3 :from :s2 :to :s15}
  #casualtheorics.argdown2.argdown/attack {:id :attack-4 :from :s3 :to :s16}
  #casualtheorics.argdown2.argdown/attack {:id :attack-5 :from :s4 :to :s17}
  #casualtheorics.argdown2.argdown/attack {:id :attack-6 :from :s5 :to :s18}
  #casualtheorics.argdown2.argdown/attack {:id :attack-7 :from :s6 :to :s19}
  #casualtheorics.argdown2.argdown/attack {:id :attack-8 :from :s7 :to :s20}
  #casualtheorics.argdown2.argdown/attack {:id :attack-9 :from :s8 :to :s21}
  #casualtheorics.argdown2.argdown/attack {:id :attack-10 :from :s9 :to :s22}
  #casualtheorics.argdown2.argdown/attack {:id :attack-11 :from :s10 :to :s23}
  #casualtheorics.argdown2.argdown/attack {:id :attack-12 :from :s11 :to :s24}
  #casualtheorics.argdown2.argdown/attack {:id :attack-13 :from :s12 :to :s25}
  #casualtheorics.argdown2.argdown/attack {:id :attack-14 :from :s13 :to :s26}
  #casualtheorics.argdown2.argdown/attack {:id :attack-15 :from :s14 :to :s27}
  #casualtheorics.argdown2.argdown/attack {:id :attack-16 :from :s15 :to :s28}
  #casualtheorics.argdown2.argdown/attack {:id :attack-17 :from :s16 :to :s29}
  #casualtheorics.argdown2.argdown/attack {:id :attack-18 :from :s17 :to :s30}
  #casualtheorics.argdown2.argdown/attack {:id :attack-19 :from :s18 :to :s31}
  #casualtheorics.argdown2.argdown/attack {:id :attack-20 :from :s19 :to :s32}
  #casualtheorics.argdown2.argdown/attack {:id :attack-21 :from :s20 :to :s33}
  #casualtheorics.argdown2.argdown/attack {:id :attack-22 :from :s21 :to :s34}
  #casualtheorics.argdown2.argdown/attack {:id :attack-23 :from :s22 :to :s35}
  #casualtheorics.argdown2.argdown/attack {:id :attack-24 :from :s23 :to :s36}
  #casualtheorics.argdown2.argdown/attack {:id :attack-25 :from :s24 :to :s37}
  #casualtheorics.argdown2.argdown/attack {:id :attack-26 :from :s25 :to :s38}
  #casualtheorics.argdown2.argdown/attack {:id :attack-27 :from :s26 :to :s39}
  #casualtheorics.argdown2.argdown/attack {:id :attack-28 :from :s27 :to :s40}
  #casualtheorics.argdown2.argdown/attack {:id :attack-29 :from :s28 :to :s41}
  #casualtheorics.argdown2.argdown/attack {:id :attack-30 :from :s29 :to :s42}
  #casualtheorics.argdown2.argdown/attack {:id :attack-31 :from :s30 :to :s43}
  #casualtheorics.argdown2.argdown/attack {:id :attack-32 :from :s31 :to :s44}
  #casualtheorics.argdown2.argdown/attack {:id :attack-33 :from :s32 :to :s45}
  #casualtheorics.argdown2.argdown/attack {:id :attack-34 :from :s33 :to :s46}
  #casualtheorics.argdown2.argdown/attack {:id :attack-35 :from :s34 :to :s47}
  #casualtheorics.argdown2.argdown/attack {:id :attack-36 :from :s35 :to :s48}
  #casualtheorics.argdown2.argdown/attack {:id :attack-37 :from :s36 :to :s49}
  #casualtheorics.argdown2.argdown/attack {:id :attack-38 :from :s37 :to :s0}
  #casualtheorics.argdown2.argdown/attack {:id :attack-39 :from :s38 :to :s1}
  #casualtheorics.argdown2.argdown/attack {:id :attack-40 :from :s39 :to :s2}
  #casualtheorics.argdown2.argdown/attack {:id :attack-41 :from :s40 :to :s3}
  #casualtheorics.argdown2.argdown/attack {:id :attack-42 :from :s41 :to :s4}
  #casualtheorics.argdown2.argdown/attack {:id :attack-43 :from :s42 :to :s5}
  #casualtheorics.argdown2.argdown/attack {:id :attack-44 :from :s43 :to :s6}
  #casualtheorics.argdown2.argdown/attack {:id :attack-45 :from :s44 :to :s7}
  #casualtheorics.argdown2.argdown/attack {:id :attack-46 :from :s45 :to :s8}
  #casualtheorics.argdown2.argdown/attack {:id :attack-47 :from :s46 :to :s9}
  #casualtheorics.argdown2.argdown/attack {:id :attack-48 :from :s47 :to :s10}
  #casualtheorics.argdown2.argdown/attack {:id :attack-49 :from :s48 :to :s11}
  #casualtheorics.argdown2.argdown/attack {:id :attack-50 :from :s49 :to :s12}
  #casualtheorics.argdown2.argdown/attack {:id :attack-51 :from :s0 :to :s13}
  #casualtheorics.argdown2.argdown/attack {:id :attack-52 :from :s1 :to :s14}
  #casualtheorics.argdown2.argdown/attack {:id :attack-53 :from :s2 :to :s15}
  #casualtheorics.argdown2.argdown/attack {:id :attack-54 :from :s3 :to :s16}
  #casualtheorics.argdown2.argdown/attack {:id :attack-55 :from :s4 :to :s17}
  #casualtheorics.argdown2.argdown/attack {:id :attack-56 :from :s5 :to :s18}
  #casualtheorics.argdown2.argdown/attack {:id :attack-57 :from :s6 :to :s19}
  #casualtheorics.argdown2.argdown/attack {:id :attack-58 :from :s7 :to :s20}
  #casualtheorics.argdown2.argdown/attack {:id :attack-59 :from :s8 :to :s21}
  #casualtheorics.argdown2.argdown/attack {:id :attack-60 :from :s9 :to :s22}
  #casualtheorics.argdown2.argdown/attack {:id :attack-61 :from :s10 :to :s23}
  #casualtheorics.argdown2.argdown/attack {:id :attack-62 :from :s11 :to :s24}
  #casualtheorics.argdown2.argdown/attack {:id :attack-63 :from :s12 :to :s25}
  #casualtheorics.argdown2.argdown/attack {:id :attack-64 :from :s13 :to :s26}
  #casualtheorics.argdown2.argdown/attack {:id :attack-65 :from :s14 :to :s27}
  #casualtheorics.argdown2.argdown/attack {:id :attack-66 :from :s15 :to :s28}
  #casualtheorics.argdown2.argdown/attack {:id :attack-67 :from :s16 :to :s29}
  #casualtheorics.argdown2.argdown/attack {:id :attack-68 :from :s17 :to :s30}
  #casualtheorics.argdown2.argdown/attack {:id :attack-69 :from :s18 :to :s31}
  #casualtheorics.argdown2.argdown/attack {:id :attack-70 :from :s19 :to :s32}
  #casualtheorics.argdown2.argdown/attack {:id :attack-71 :from :s20 :to :s33}
  #casualtheorics.argdown2.argdown/attack {:id :attack-72 :from :s21 :to :s34}
  #casualtheorics.argdown2.argdown/attack {:id :attack-73 :from :s22 :to :s35}
  #casualtheorics.argdown2.argdown/attack {:id :attack-74 :from :s23 :to :s36}
  #casualtheorics.argdown2.argdown/attack {:id :attack-75 :from :s24 :to :s37}
  #casualtheorics.argdown2.argdown/attack {:id :attack-76 :from :s25 :to :s38}
  #casualtheorics.argdown2.argdown/attack {:id :attack-77 :from :s26 :to :s39}
  #casualtheorics.argdown2.argdown/attack {:id :attack-78 :from :s27 :to :s40}
  #casualtheorics.argdown2.argdown/attack {:id :attack-79 :from :s28 :to :s41}
  #casualtheorics.argdown2.argdown/attack {:id :attack-80 :from :s29 :to :s42}
  #casualtheorics.argdown2.argdown/attack {:id :attack-81 :from :s30 :to :s43}
  #casualtheorics.argdown2.argdown/attack {:id :attack-82 :from :s31 :to :s44}
  #casualtheorics.argdown2.argdown/attack {:id :attack-83 :from :s32 :to :s45}
  #casualtheorics.argdown2.argdown/attack {:id :attack-84 :from :s33 :to :s46}
  #casualtheorics.argdown2.argdown/attack {:id :attack-85 :from :s34 :to :s47}
  #casualtheorics.argdown2.argdown/attack {:id :attack-86 :from :s35 :to :s48}
  #casualtheorics.argdown2.argdown/attack {:id :attack-87 :from :s36 :to :s49}
  #casualtheorics.argdown2.argdown/attack {:id :attack-88 :from :s37 :to :s0}
  #casualtheorics.argdown2.argdown/attack {:id :attack-89 :from :s38 :to :s1}
  #casualtheorics.argdown2.argdown/attack {:id :attack-90 :from :s39 :to :s2}
  #casualtheorics.argdown2.argdown/attack {:id :attack-91 :from :s40 :to :s3}
  #casualtheorics.argdown2.argdown/attack {:id :attack-92 :from :s41 :to :s4}
  #casualtheorics.argdown2.argdown/attack {:id :attack-93 :from :s42 :to :s5}
  #casualtheorics.argdown2.argdown/attack {:id :attack-94 :from :s43 :to :s6}
  #casualtheorics.argdown2.argdown/attack {:id :attack-95 :from :s44 :to :s7}
  #casualtheorics.argdown2.argdown/attack {:id :attack-96 :from :s45 :to :s8}
  #casualtheorics.argdown2.argdown/attack {:id :attack-97 :from :s46 :to :s9}
  #casualtheorics.argdown2.argdown/attack {:id :attack-98 :from :s47 :to :s10}
  #casualtheorics.argdown2.argdown/attack {:id :attack-99 :from :s48 :to :s11}
  #casualtheorics.argdown2.argdown/attack {:id :attack-100 :from :s49 :to :s12}
  #casualtheorics.argdown2.argdown/attack {:id :attack-101 :from :s0 :to :s13}
  #casualtheorics.argdown2.argdown/attack {:id :attack-102 :from :s1 :to :s14}
  #casualtheorics.argdown2.argdown/attack {:id :attack-103 :from :s2 :to :s15}
  #casualtheorics.argdown2.argdown/attack {:id :attack-104 :from :s3 :to :s16}
  #casualtheorics.argdown2.argdown/attack {:id :attack-105 :from :s4 :to :s17}
  #casualtheorics.argdown2.argdown/attack {:id :attack-106 :from :s5 :to :s18}
  #casualtheorics.argdown2.argdown/attack {:id :attack-107 :from :s6 :to :s19}
  #casualtheorics.argdown2.argdown/attack {:id :attack-108 :from :s7 :to :s20}
  #casualtheorics.argdown2.argdown/attack {:id :attack-109 :from :s8 :to :s21}
  #casualtheorics.argdown2.argdown/attack {:id :attack-110 :from :s9 :to :s22}
  #casualtheorics.argdown2.argdown/attack {:id :attack-111 :from :s10 :to :s23}
  #casualtheorics.argdown2.argdown/attack {:id :attack-112 :from :s11 :to :s24}
  #casualtheorics.argdown2.argdown/attack {:id :attack-113 :from :s12 :to :s25}
  #casualtheorics.argdown2.argdown/attack {:id :attack-114 :from :s13 :to :s26}
  #casualtheorics.argdown2.argdown/attack {:id :attack-115 :from :s14 :to :s27}
  #casualtheorics.argdown2.argdown/attack {:id :attack-116 :from :s15 :to :s28}
  #casualtheorics.argdown2.argdown/attack {:id :attack-117 :from :s16 :to :s29}
  #casualtheorics.argdown2.argdown/attack {:id :attack-118 :from :s17 :to :s30}
  #casualtheorics.argdown2.argdown/attack {:id :attack-119 :from :s18 :to :s31}
  #casualtheorics.argdown2.argdown/attack {:id :attack-120 :from :s19 :to :s32}
  #casualtheorics.argdown2.argdown/attack {:id :attack-121 :from :s20 :to :s33}
  #casualtheorics.argdown2.argdown/attack {:id :attack-122 :from :s21 :to :s34}
  #casualtheorics.argdown2.argdown/attack {:id :attack-123 :from :s22 :to :s35}
  #casualtheorics.argdown2.argdown/attack {:id :attack-124 :from :s23 :to :s36}
  #casualtheorics.argdown2.argdown/attack {:id :attack-125 :from :s24 :to :s37}
  #casualtheorics.argdown2.argdown/attack {:id :attack-126 :from :s25 :to :s38}
  #casualtheorics.argdown2.argdown/attack {:id :attack-127 :from :s26 :to :s39}
  #casualtheorics.argdown2.argdown/attack {:id :attack-128 :from :s27 :to :s40}
  #casualtheorics.argdown2.argdown/attack {:id :attack-129 :from :s28 :to :s41}
  #casualtheorics.argdown2.argdown/attack {:id :attack-130 :from :s29 :to :s42}
  #casualtheorics.argdown2.argdown/attack {:id :attack-131 :from :s30 :to :s43}
  #casualtheorics.argdown2.argdown/attack {:id :attack-132 :from :s31 :to :s44}
  #casualtheorics.argdown2.argdown/attack {:id :attack-133 :from :s32 :to :s45}
  #casualtheorics.argdown2.argdown/attack {:id :attack-134 :from :s33 :to :s46}
  #casualtheorics.argdown2.argdown/attack {:id :attack-135 :from :s34 :to :s47}
  #casualtheorics.argdown2.argdown/attack {:id :attack-136 :from :s35 :to :s48}
  #casualtheorics.argdown2.argdown/attack {:id :attack-137 :from :s36 :to :s49}
  #casualtheorics.argdown2.argdown/attack {:id :attack-138 :from :s37 :to :s0}
  #casualtheorics.argdown2.argdown/attack {:id :attack-139 :from :s38 :to :s1}
  #casualtheorics.argdown2.argdown/attack {:id :attack-140 :from :s39 :to :s2}
  #casualtheorics.argdown2.argdown/attack {:id :attack-141 :from :s40 :to :s3}
  #casualtheorics.argdown2.argdown/attack {:id :attack-142 :from :s41 :to :s4}
  #casualtheorics.argdown2.argdown/attack {:id :attack-143 :from :s42 :to :s5}
  #casualtheorics.argdown2.argdown/attack {:id :attack-144 :from :s43 :to :s6}
  #casualtheorics.argdown2.argdown/attack {:id :attack-145 :from :s44 :to :s7}
  #casualtheorics.argdown2.argdown/attack {:id :attack-146 :from :s45 :to :s8}
  #casualtheorics.argdown2.argdown/attack {:id :attack-147 :from :s46 :to :s9}
  #casualtheorics.argdown2.argdown/attack {:id :attack-148 :from :s47 :to :s10}
  #casualtheorics.argdown2.argdown/attack {:id :attack-149 :from :s48 :to :s11}
  #casualtheorics.argdown2.argdown/attack {:id :attack-150 :from :s49 :to :s12}
  #casualtheorics.argdown2.argdown/attack {:id :attack-151 :from :s0 :to :s13}
  #casualtheorics.argdown2.argdown/attack {:id :attack-152 :from :s1 :to :s14}
  #casualtheorics.argdown2.argdown/attack {:id :attack-153 :from :s2 :to :s15}
  #casualtheorics.argdown2.argdown/attack {:id :attack-154 :from :s3 :to :s16}
  #casualtheorics.argdown2.argdown/attack {:id :attack-155 :from :s4 :to :s17}
  #casualtheorics.argdown2.argdown/attack {:id :attack-156 :from :s5 :to :s18}
  #casualtheorics.argdown2.argdown/attack {:id :attack-157 :from :s6 :to :s19}
  #casualtheorics.argdown2.argdown/attack {:id :attack-158 :from :s7 :to :s20}
  #casualtheorics.argdown2.argdown/attack {:id :attack-159 :from :s8 :to :s21}
  #casualtheorics.argdown2.argdown/attack {:id :attack-160 :from :s9 :to :s22}
  #casualtheorics.argdown2.argdown/attack {:id :attack-161 :from :s10 :to :s23}
  #casualtheorics.argdown2.argdown/attack {:id :attack-162 :from :s11 :to :s24}
  #casualtheorics.argdown2.argdown/attack {:id :attack-163 :from :s12 :to :s25}
  #casualtheorics.argdown2.argdown/attack {:id :attack-164 :from :s13 :to :s26}
  #casualtheorics.argdown2.argdown/attack {:id :attack-165 :from :s14 :to :s27}
  #casualtheorics.argdown2.argdown/attack {:id :attack-166 :from :s15 :to :s28}
  #casualtheorics.argdown2.argdown/attack {:id :attack-167 :from :s16 :to :s29}
  #casualtheorics.argdown2.argdown/attack {:id :attack-168 :from :s17 :to :s30}
  #casualtheorics.argdown2.argdown/attack {:id :attack-169 :from :s18 :to :s31}
  #casualtheorics.argdown2.argdown/attack {:id :attack-170 :from :s19 :to :s32}
  #casualtheorics.argdown2.argdown/attack {:id :attack-171 :from :s20 :to :s33}
  #casualtheorics.argdown2.argdown/attack {:id :attack-172 :from :s21 :to :s34}
  #casualtheorics.argdown2.argdown/attack {:id :attack-173 :from :s22 :to :s35}
  #casualtheorics.argdown2.argdown/attack {:id :attack-174 :from :s23 :to :s36}
  #casualtheorics.argdown2.argdown/attack {:id :attack-175 :from :s24 :to :s37}
  #casualtheorics.argdown2.argdown/attack {:id :attack-176 :from :s25 :to :s38}
  #casualtheorics.argdown2.argdown/attack {:id :attack-177 :from :s26 :to :s39}
  #casualtheorics.argdown2.argdown/attack {:id :attack-178 :from :s27 :to :s40}
  #casualtheorics.argdown2.argdown/attack {:id :attack-179 :from :s28 :to :s41}
  #casualtheorics.argdown2.argdown/attack {:id :attack-180 :from :s29 :to :s42}
  #casualtheorics.argdown2.argdown/attack {:id :attack-181 :from :s30 :to :s43}
  #casualtheorics.argdown2.argdown/attack {:id :attack-182 :from :s31 :to :s44}
  #casualtheorics.argdown2.argdown/attack {:id :attack-183 :from :s32 :to :s45}
  #casualtheorics.argdown2.argdown/attack {:id :attack-184 :from :s33 :to :s46}
  #casualtheorics.argdown2.argdown/attack {:id :attack-185 :from :s34 :to :s47}
  #casualtheorics.argdown2.argdown/attack {:id :attack-186 :from :s35 :to :s48}
  #casualtheorics.argdown2.argdown/attack {:id :attack-187 :from :s36 :to :s49}
  #casualtheorics.argdown2.argdown/attack {:id :attack-188 :from :s37 :to :s0}
  #casualtheorics.argdown2.argdown/attack {:id :attack-189 :from :s38 :to :s1}
  #casualtheorics.argdown2.argdown/attack {:id :attack-190 :from :s39 :to :s2}
  #casualtheorics.argdown2.argdown/attack {:id :attack-191 :from :s40 :to :s3}
  #casualtheorics.argdown2.argdown/attack {:id :attack-192 :from :s41 :to :s4}
  #casualtheorics.argdown2.argdown/attack {:id :attack-193 :from :s42 :to :s5}
  #casualtheorics.argdown2.argdown/attack {:id :attack-194 :from :s43 :to :s6}
  #casualtheorics.argdown2.argdown/attack {:id :attack-195 :from :s44 :to :s7}
  #casualtheorics.argdown2.argdown/attack {:id :attack-196 :from :s45 :to :s8}
  #casualtheorics.argdown2.argdown/attack {:id :attack-197 :from :s46 :to :s9}
  #casualtheorics.argdown2.argdown/attack {:id :attack-198 :from :s47 :to :s10}
  #casualtheorics.argdown2.argdown/attack {:id :attack-199 :from :s48 :to :s11}
  #casualtheorics.argdown2.argdown/attack {:id :attack-200 :from :s49 :to :s12}

  ]}}
