#casualtheorics.argdown2/document
{:id :small-relations
 :root
 #casualtheorics.argdown2.solver/grounded
 {:id :root
  :interface
  {:aggregate
   #casualtheorics.argdown2.aggregate/identity
   {:inputs [{:ref :claim}]}}
  :elements
  [
#casualtheorics.argdown2.argdown/statement {:id :claim}
  #casualtheorics.argdown2.argdown/statement {:id :counter}
  #casualtheorics.argdown2.argdown/statement {:id :support-target}
  #casualtheorics.argdown2.argdown/argument {:id :pro-arg :description "Pro side"}
  #casualtheorics.argdown2.argdown/attack {:id :attack-1 :from :pro-arg :to :counter}
  #casualtheorics.argdown2.argdown/contradiction {:id :contradiction-2 :from :claim :to :counter}
  #casualtheorics.argdown2.argdown/support {:id :support-3 :from :pro-arg :to :support-target}

  ]}}
